.container {
  background: #fafafa;
  z-index: -1;
  position: relative;
}

.main-content {
  display: flex;
  padding: 5rem 10rem;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -1;
}
.left-side {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  width: auto;
}
.left-content {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}
.left-content p:nth-of-type(1) {
  font-size: 1.6rem;
  color: #96bb7c;
  font-weight: bold;
}
.left-content p:nth-of-type(2) {
  font-size: 2rem;
  font-weight: 400;
  color: #737373;
  line-height: 5rem;
}
.left-content h1 {
  font-size: 5.8rem;
  color: #252b42;
  font-weight: bold;
}
.hero-btns {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.hero-btns button {
  font-size: 1.4rem;
  padding: 1.5rem 4rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in;
  font-weight: bold;
}

.hero-btns button:nth-of-type(2) {
  border: 1px solid #96bb7c;
  color: #96bb7c;
}
.hero-btns button:nth-of-type(2):hover {
  border: 1px solid #000000;
  color: #000000;
}
.hero-btns button:nth-of-type(1) {
  background: #96bb7c;
  color: white;
  border: none;
}
.hero-btns button:nth-of-type(1):hover {
  background: #000000;
  color: white;
  border: none;
}

.right-side {
  position: relative;
}

.hero-img {
  height: 75rem;
  width: 64rem;
}
.hero-img::before {
  content: "";
  height: 62rem;
  width: 52rem;
  background: #fff2f3;
  border-radius: 5rem;
  position: absolute;
  left: 10rem;
  top: 0;
  z-index: 1;
}
.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 300;
}
.hero-info {
  padding: 0 7rem;
  position: absolute;
  top: 75rem;
  z-index: 1000;
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.card-size {
  height: 39rem;
  width: 35rem;
  padding: 5rem 3rem;
  background-color: #fff;
  box-shadow: 0 13px 19px 0 #00000012;
}
.card-body {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  height: 100%;
  width: 100%;
}
.icon {
  background: #e74040;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  width: 7rem;
  padding: 4rem;
}
.card-body i {
  font-size: 3.2rem;
  color: white;
}
.card-body h3 {
  color: #252b42;
  font-size: 2rem;
  font-weight: bold;
}
.card-body p {
  color: #737373;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.2rem;
}
.card-body .border {
  width: 5rem;
  height: 0.2rem;
  background-color: #e74040;
  border-radius: 10rem;
}
